@import '../../../common/master.less';
@import '../../../../dep/est/2.0.3/src/all.less';
@import (less) '../../../../dep/fonteditor/icon.css';
@import '../../../common/widget/feedback/feedback.less';
@import '../../../common/widget/toast/toast.less';



body {
    width: 100%;
    overflow-x: hidden;
}

.slider-container {
    background-color: #fff;

    .slider-section {
        position: relative;
        overflow: hidden;
        width: 100%;
        background-color: #EEE;

    }

    .slider-list {
        position: absolute;
        left: 0;
        top: 0;
    }

    .slider-img {
        width: 100%;
        float: left;
        list-style: none;
        font-size: 0;
        background-color: #EEE;

        img {
            width: 100%;
        }
    }

    .slider-introduction {
        padding: 18px 5% 18px 5%;
    }

    .introduction-title {
        font-size: 1.1rem;
        color: #1D2F9A;
        letter-spacing: 1px;
    }

    .introduction-content {
        font-size: 0.9rem;
        color: #333;
        padding: 10px 0;
    }

    .introduction-link {
        width: 100%;
        word-break:break-all;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;

        color: #1D2F9A;
        font-size: 0.9rem;
        display: block;
        font-weight: 200;
        letter-spacing: 1px;

    }

    .buttons {
        width: 47%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        padding: 0;
        display: block;
        text-decoration: none;
        border: 1px solid #BBB;
        border-radius: 5px;
        margin-top: 10px;
        background-color: #F9F9F9;
        span {
            font-weight: 100;
            font-size: 1rem;
            color: #333;
            padding-left: 10px;
        }

        i {
            font-weight: 100;
            font-size: 1rem;
            color: #333;
        }
    }

    .recognition {
        margin-right: 2%;
        float: left;
    }

    .download {
        margin-left: 2%;
        float: right;
    }

    .slider-waterfall {
        width: 100%;
        background: #EEE;

        p {
            height: 37px;
            line-height: 37px;
            width: 95%;
            margin: 0 auto;
            padding-top: 7px;
            font-size: 1.2rem;
            color: #666;
        }

        ul {
            width: 95%;
            margin: 0 auto;
        }

        li {
            width: 49.2%;
            list-style: none;
            float: left;
        }

        .col-1 {
            margin: 0 0.8% 0 0;
        }

        .col-2 {
            margin: 0 0 0 0.8%;
        }

        .waterfall-img {
            width: 100%;
            font-size: 0;
            margin-bottom: 4px;
            background-color: #FFF;

            img {
                width: 100%;
            }
        }

        a {
            display: block;
        }

        .waterfall-loading {
            display: none;
            color: #999;
            padding: 25px 0;
            font-size: 1rem;
            text-align: center;
            margin-bottom: 0;

            i {
                display: inline-block;
                width: 19px;
                height: 19px;
                font-size: 19px;
                vertical-align: text-bottom;
                -webkit-animation: rotate 1s infinite linear;
                -o-animation: rotate 1s infinite linear;
                -moz-animation: rotate 1s infinite linear;
                animation: rotate 1s infinite linear;

            }
        }
    }

    .clearfix:after {
        display: block;
        font-size: 0;
        content: '';
        clear: both;
        height: 0;
    }
}

@-moz-keyframes rotate {            /* Firefox */
    0% {
        -moz-transform: rotateZ(0deg);
    }

    50% {
        -moz-transform: rotateZ(180deg);
    }

    100% {
        -moz-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes rotate {            /* Safari Chrome */
    0% {
        -webkit-transform: rotateZ(0deg);
    }

    50% {
        -web-kittransform: rotateZ(180deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
    }
}

@-o-keyframes rotate {            /* Opera */
    0% {
        -o-transform: rotateZ(0deg);
    }

    50% {
        -o-transform: rotateZ(180deg);
    }

    100% {
        -o-transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}
