@import '../../dep/est/2.0.3/src/all.less';
@import './css/variable.less';
@import './css/mixin.less';
@import './css/tool.less';

.global-reset();

html {
    background: #eee;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.copyright {
    font-size: 10px;
    color: #ababab;
    text-align: center;
    padding: 25px 0 20px;
}

